.button {
  padding: 17px 40px;
  border-radius: 50px;
  /* width: 20rem; */
  width: 10rem;
  /* padding-top: ; */
  text-align: center;
  cursor: pointer;
  border: 0;
  /* background-color: lightblue; */
  background-color: var(--mantine-primary-color-filled);
  /* background-color: black; */
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.button:hover {
  letter-spacing: 3px;
  /* background-color: hsl(261deg 80% 48%); */
  background-color: var(--mantine-primary-color-filled-hover);
  /* color: hsl(0, 0%, 100%); */
  /* box-shadow: rgb(93 24 220) 0px 7px 29px 0px; */
  box-shadow: var(--mantine-shadow-xl);
}

.button:active {
  letter-spacing: 3px;
  /* background-color: hsl(261deg 80% 48%); */
  /* color: hsl(0, 0%, 100%); */
  /* box-shadow: rgb(93 24 220) 0px 0px 0px 0px; */
  box-shadow: var(--mantine-shadow-sm);
  transform: translateY(10px);
  transition: 100ms;
}

/* 576px xs*/
@media screen and (min-width: 36em) {
}
/* 768px sm*/
@media screen and (min-width: 48em) {
}
/* 992px md*/
@media screen and (min-width: 62em) {
}
/* 1200px lg*/
@media screen and (min-width: 75em) {
  .button {
    width: 20rem;
    padding: 17px 40px;
  }
}
/* 1408px xl*/
@media screen and (min-width: 88em) {
}
